button{
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 12px 25px;
    white-space: nowrap;
    background: #b32c2d;
    float: right;
    text-align: center;
    font-weight: bold;
    min-width: 120px;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 600px;
    width: 500px;
    border: 3px solid black;
    display: inline-block;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#content{
    /*float: right;*/
    display: inline-block;
    position: relative;
    bottom: 40px;
}
.isClick{
    display: none;
}
.display{
    display: inline-block;
}

footer{
    color: red;
    display: inline-block;
    font-size: 35px;
    width: 100%;
    text-align: right;
}
footer i{
    padding-right: 10px;
    cursor: pointer;
    color: red;
}


.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}
/*.no-chart svg{
    display: none
}*/


/* tree line */

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.twitter{
    vertical-align: top;
    /*width: 40%;*/
    /*height: px;*/
    overflow: scroll;
}
